#logo {
	margin-bottom: 50px;
	text-align: center;
}

#logopic {
	height: 50px;
	width: auto;
}

.cards {
	background-color: #282828;
	width: 100%;
	height: 400px;
	overflow: scroll;
	overflow-y: hidden;
	scrollbar-face-color: red;
	margin-bottom: 100px;
	vertical-align: top;
	display: inline-flex;
	list-style-type: none;
	margin: 0 auto;
	position: relative;
}

body {
	background-color: #5f6a7a;
	font-family: Trebuchet MS;
}

#card {
	height: 300px;
	width: 500px;
	width: 500px;
	border: none;
	margin: 50px;
	border: none;
	margin: 50px;
	font-size: 40px;
}


#newCard{
	background-color:#6c7d99;
	height: 300px;
	width: 500px;
	width: 500px;
	border: none;
	margin: 50px;
	border: none;
	margin: 50px;
	font-size: 40px;
}

.newInfo{
	background-color:#6c7d99;
	text-align: center;
	display: block;
	height: 300px;
	width: 500px;
	width: 500px;
	border: none;
	margin: 50px;
	border: none;
	margin: 50px;
	font-size: 40px;
}

#new{
	background-color: #01d2ff;
	border: none;
	height: 40px;
	width: 40px;
	margin-top: 30px;
	font-size: 20px;
}

#term{
	margin-top:50px;
	width:150px;
	height:40px;
	color: black;
	text-align: center;
}

#def{
	text-align: center;
	margin-top:30px;
	width:200px;
	height:40px;
	color: black;
}